.about-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .about-grid { grid-template-columns: 1fr; }
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileimg {
    border-radius: 100px;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.lead{
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}
